html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* * Globales */
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
   
}

.contenedor {
    max-width: 95%;
    max-width:  120rem;
    margin: 0 auto;

}

h1 {
    font-size: 3.8rem;
    text-align: center;
   
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}

/* * Utilidades */

.fw-300 {
    font-weight: 300;
}
.centrar-texto {
    text-align: center;
}
.d-block {
    display: block ! important;
}
.contenido-centrado {
    max-width: 800px;
}

/* * Botones */
.boton {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    text-align: center;
    border: none;
    display: inline-block;
    display: block;
    flex: 0 0 100%;
}
@media (min-width: 768px ) {
    .boton {
        display: inline-block;
        flex: 0 0 100%;
    }
}
.boton:hover {
    cursor:pointer;
}
.boton-amarillo {
    background-color: rgb(32, 116, 251);
  
}
.boton-verde {
    background-color: #71B100;
}

/* * Header */
.site-header {
    background-color: #333;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio {
    background-image: url(../img/header.jpeg); 
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 40rem;

}

.site-header.inicio2 {
    background-image: url(../img/header2);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 40rem;

}
.site-header.inicio3 {
    background-image: url(../img/header3.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 40rem;

}
.site-header.inicio4 {
    background-image: url(../img/header4.jpg); 
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 40rem;
}
.site-header.inicio5 {
    background-image: url(../img/header5.jpg); 
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 40rem;
}
.site-header.inicio6 {
    background-image: url(../img/header6.jpg); 
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 40rem;
}


.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
@media (min-width: 768px){
    .contenido-header {
        text-align: left;
    }
}
.contenido-header h1 {
    color: #c6f50b;
    max-width: 50rem;
    line-height: 1 ;
}
.barra {
    padding-top: 3rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* * Iniciamos estilos de navegación */
.navegacion a {
    color:#c6f50b;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}
@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        font-size: 1.8rem;
        margin-right: 2rem;
    }
    .barra a:last-of-type {
        margin: 0;
    }
}
.navegacion a:hover {
    color: #71b100;
}

/* * Inicia el menú responsivo */
.mobile-menu {
    width: 5rem;
}
@media(min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.navegacion:target {
    display: block;
}
.navegacion {
    display: none;
}
@media (min-width: 768px) {
    .navegacion {
        display: block;
    }
}

/* * Iconos */
@media (min-width: 768px) {
    .iconos-nosotros {
        display: flex;
        justify-content: space-between;
    }
}

.icono {
    text-align: center;
}

@media (min-width: 768px) {
    .icono {
        flex-basis: calc(50% - 1rem);
    }
}

/* Anuncios */
@media (min-width: 768px) {
    .contenedor-anuncios {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.anuncio {
    flex-shrink: 0;
    border: 1px solid  #b5b5b5;
    background-color: #f5f4f5;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .anuncio {
        flex-basis: calc(33.3% - 1rem);
    }
}
.contenido-anuncio {
    padding: 2rem;
    text-align: justify;
}
.contenido-anuncio h3,
.contenido-anuncio p {
    margin: 0;
}

.precio {
    color: #71b100;
    font-weight: 700;
}

.ver-todas {
    /* Revisar detalle con Flex-box */
    /* display: flex;
    justify-content: flex-end; */
    float: right;
}

/* Contacto Home */
.imagen-contacto {
    margin-top: 5rem;
    background-image: url(../img/encuentra.jpg); 
    height: 115rem;
    width: 1200px;
    margin: 70px;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.contenido-contacto {
    flex: 0 0 95%;
    color: #ffffff;
}

.contenido-contacto p {
    font-size: 1.8rem;
    text-align: justify;
}

/* Sección Inferior */
@media (min-width: 768px) {
    .seccion-inferior {
        display: flex;
        justify-content: space-between;
    }
    .seccion-inferior .blog {
        flex-basis: 60%;
    }
    .seccion-inferior .testimoniales {
        flex-basis: calc(40% - 2rem);
    }
}
.entrada-blog {
    margin-bottom: 2rem;
}
@media(min-width: 768px) {
    .entrada-blog {
        display: flex;
        justify-content: space-between;
        
    }
}
@media(min-width: 768px) {
    .entrada-blog .imagen {
        flex-basis: 40%;


    }
    .entrada-blog .texto-entrada {
        flex-basis: calc(60% - 3rem);


    }
}
.texto-entrada p{
    text-align: justify;
}
.texto-entrada a {
    color: #000;
    text-decoration: none;
   
}
.texto-entrada h4 {
    margin: 0;
    line-height: 1.4;
   
}
.texto-entrada h4::after {
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color:#d84709;
    margin-top: 10px;
}
.texto-entrada span {
    color: #E08709;
}

/* Opiniones */
.testimonial {
   /* background-image: url(../img/reglas.jpg);*/
    /* background-color: #c06a02;*/
    font-size: 4rem;
    padding: 1rem;
    color: #f1930f;
    border-radius: 1rem;
}

/* Footer */
.site-footer {
    background-color: green;
    margin: 0;
}
.contenedor-footer {
    margin-top: 2rem;
    padding: 1rem 0;
    text-align: center;
}
@media (min-width:768px) {
    .contenedor-footer {
        display: flex;
        justify-content: space-between;
    }
}
.copy img{
    margin: 0;
    width: 35px;
    height: 35px;
}